<h1>Detector de ano Bissexto</h1>

<p>Descubra se um ano é Bissexto...</p>

<form action='/detector' method='get'>
    <div class="form-group">
        <label for="year">Ano</label>
        <input id="year" name="year" class="form-control" type="text">
    </div>

    <button type="submit" class="btn btn-info">É Bissexto?</button>
</form>