<h1>Uma aventura fantástica</h1>
<p>Um dia, $person1 e $person2 estavam caminhando pela floresta,
    quando de repente um $animal gigante apareceu. "$exclamation", gritou $person1.
    Os dois $verb o mais rápido possível,
    e quando estavam seguros, $person1 e $person2 se deram um $noun gigante. </p>